body{
    font-family: Arial, sans-serif;
    padding: 50px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px;
}

th, td{
    border: 1px solid #dddddd;
    padding: 8px;
}

th{
    background-color: #f2f2f2;
}

.vermelho{
    background-color: #E54B4B;
}
.amarelo{
    background-color: #FFA987;
}
.azul{
    background-color: #F7EBE8;
}